@@-----------------------------------------------------------------------------
@@--                                                                         --
@@--                               Yolk                                      --
@@--                                                                         --
@@--                Copyright (C) 2000-2012, Thomas Løcke                    --
@@--                                                                         --
@@-- This is free software;  you can redistribute it and/or modify it        --
@@-- under terms of the  GNU General Public License  as published by the     --
@@-- Free Software  Foundation;  either version 3,  or (at your  option) any --
@@-- later version. This library is distributed in the hope that it will be  --
@@-- useful, but WITHOUT ANY WARRANTY;  without even the implied warranty of --
@@-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.                    --
@@-- You should have received a copy of the GNU General Public License and   --
@@-- a copy of the GCC Runtime Library Exception along with this program;    --
@@-- see the files COPYING3 and COPYING.RUNTIME respectively.  If not, see   --
@@-- <http://www.gnu.org/licenses/>.                                         --
@@--                                                                         --
@@-----------------------------------------------------------------------------
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
        <title>
            Yolk WebSocket Demo
        </title>
        <script language="javascript" type="text/javascript">
            var wsUri = "ws://@_HOST_@@_URI_@";
            var ws;
            var clients_connected;
            var output;
            var random_string;
            var timestamp;          

            function init(){
                clients_connected = document.getElementById("clients_connected");
                output = document.getElementById("output");
                random_string = document.getElementById("random_string");
                timestamp = document.getElementById("timestamp");
                
                ws = new WebSocket(wsUri);
                
                ws.onopen = function(msg){onOpen(msg)};
                ws.onclose = function(msg){onClose(msg)};
                ws.onmessage = function(msg){onMessage(msg)};
                ws.onerror = function(msg){onError(ms)};
            }

            function onOpen(msg){
                ws.send('Connected');
            }

            function onClose(msg){
                ws.send('Disconnected');
            }

            function onMessage(msg){
                var chunks = msg.data.split("|",2);
                var key = chunks[0];
                var val = chunks[1];
                
                if(key == 'timestamp'){
                    writeToElement(val, timestamp);
                }else if(key == 'clients_connected'){
                    writeToElement(val, clients_connected);
                }else if (key == 'random_string'){
                    writeToElement(val, random_string);
                }else{
                    writeToElement(key, output);
                }
            }

            function onError(msg){
                writeToElement('Error ' + msg.data, output);
                ws.close();
            }

            function writeToElement(msg, elem){
                elem.innerHTML = msg;
            }
            
            function switchWebSocket(){
                elem = document.getElementById("switch").childNodes[0];
                
                if(elem.nodeValue == 'Stop demo'){
                    ws.close();
                    writeToElement('Disconnected', output);
                    elem.nodeValue = 'Start demo';
                }else if(elem.nodeValue == 'Start demo'){
                    init();
                    elem.nodeValue = 'Stop demo';
                }
            }

            window.addEventListener("load", init, false);
        </script>
    </head>
<body>
    <h3>Yolk WebSocket Demo</h3>
    <p>
        If your browser support WebSockets, you should see some action going on in the table below, preferably a timestamp that updates once each second, the
        amount of connected clients and a random string. The Output row contains system messages.
    </p>
    <p>
        Please note that in order for this WebSocket demo to work, you must use a modern browser, such as <a href="http://mozilla.com">Firefox</a> or 
        <a href="http://https://www.google.com/chrome/">Google Chrome</a>.
    </p>
    <table>
        <tr>
            <td>Timestamp:</td>
            <td id="timestamp">no data</td>
        </tr>
        <tr>
            <td>Clients connected:</td>
            <td id="clients_connected">no data</td>
        </tr>
        <tr>
            <td>Random string:</td>
            <td id="random_string">no data</td>
        </tr>
        <tr>
            <td>Output:</td>
            <td id="output">no data</td>
        </tr>
    </table>
    <button id="switch" onclick="switchWebSocket();">Stop demo</button>
    <p>
        Go back to the <a href="/">main page</a>.
    </p>
</body>
</html>
